body {
    background-color: teal;
}

#login-title {
    color: white;
    font-size: 96px;
    text-align: center;
    margin-top: 40%;
}

#login-form {
    margin-top: 200px;
}

/* input[type=text], input[type=password] {
    padding: 5px 0px 5px 15px;
} */

#username-input, #password-input {
    max-width: 55%;
    margin: 50px auto;
}

#username, #password {
    font-size: 36px;
    width: 100%;
    padding: 5px 0px;
}

#username::placeholder, #password::placeholder {
    color: teal;
    text-align: center;
}

#login-input {
    text-align: center;
}

#login-button {
    color: white;
    background-color: teal;
    border-color: teal;
    font-size: 48px;
}

#searchDriver {
    max-width: 80%;
    margin: 50px auto;
    position: relative;
}

#driver-search {
    font-size: 48px;
    padding: 10px;
    border: none;
    /* border: 3px solid black; */
    box-shadow: 0px 0px 10px black;
    width: calc(100% - 140px);
}

#driver-search::placeholder {
    color: teal;
    text-align: center;
}

#search-button {
    position: absolute;
    top: calc(50% - 40px);
    right: 0px;
    padding: 0px;
    border: 0px;
    background-color: teal;
}

#find-driver-button {
    color: white;
    font-size: 80px;
    text-shadow: 0px 0px 10px black;
}

#drivers {
    max-width: 95%;
    margin: auto;
}

a {
    text-decoration: none;
}

.driver {
    background-color: white;
    margin: 30px 0px;
    position: relative;
    border-radius: 25px;
    box-shadow: 0px 0px 10px black;
}

.driver:active {
    box-shadow: none;
}

.driverID {
    color: teal;
    font-size: 60px;
    padding: 20px 0px 7.5px 30px;
    max-height: 60px;
}

.movement {
    color: teal;
    font-size: 36px;
    padding: 0px 0px 20px 30px;
    max-height: 36px;
}

.redDot {
    height: 40px;
    width: 40px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    right: 50px;
    top: calc(50% - 20px);
}

.blueDot {
    height: 40px;
    width: 40px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    right: 50px;
    top: calc(50% - 20px);
}

.greenDot {
    height: 40px;
    width: 40px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    right: 50px;
    top: calc(50% - 20px);
}

#errorMessage {
    color: white;
    font-size: 48px;
}

#driver-header {
    position: relative;
}

#return {
    color: white;
    font-size: 60px;
    position: absolute;
    top: calc(50% - 30px);
    left: 30px;
}

#refresh {
    color: white;
    font-size: 60px;
    position: absolute;
    top: calc(50% - 30px);
    right: 30px;
}

#driverName {
    color: white;
    font-size: 60px;
    text-align: center;
    padding: 40px 0px;
}

#map {
    height: 750px;
    width: 90%;
    border: 10px solid white;
    margin: auto;
}